
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
        /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                    url(./img/anime.jpeg) center/cover no-repeat; */
    color: rgb(18, 17, 17);
    overflow-x: hidden;
    max-height: 100vh;
}

/* Splash Screen */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1d1f21;
}

.splash-logo {
    width: 200px;
    animation: fadeOut 2s ease-in-out 2.5s forwards;
}
nav{
    background-color: rgb(64, 61, 61);
    box-shadow: 3px 3px 5px rgba(72, 51, 169, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(30, 103, 205);
  }
  nav a:hover{
    background-color: #e60b0b;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(126, 51, 188, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(222, 5, 66, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }



/* Main Content - Hero Section */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh; /* Full-screen height */
    /* background: linear-gradient(135deg, #4e54c8, #8f94fb); Vibrant gradient background */
    color: #fff;
    padding: 2rem;
    animation: fadeIn 1.5s ease-in-out; /* Smooth fade-in animation */
}

.container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #fff;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); /* Add depth to the text */
}

.container .highlight {
    color: #0099ff; /* Bright highlight for the name */
    font-weight: bold;
    margin-top: -auto;
}

.container .description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.6px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 2px 5px rgba(225, 227, 227, 0.3); /* Subtle shadow for better visibility */
}

.resume-btns {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add space between buttons */
}

.resume-btns .btn {
    background: linear-gradient(135deg, #00aeff, #e2ccb1); 
    color: #1d1f21;
    padding: 12px 30px;
    margin: 10px;
    border: none;
    border-radius: 25px; /* Rounded edges */
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Modern shadow for buttons */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.resume-btns .btn:hover {
    transform: translateY(-2px); /* Slight lift on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
}

.resume-btns .btn:active {
    transform: translateY(2px); /* Button pressed effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow when clicked */
}

/* Social Media Bar */
.social-icons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between icons */
    z-index: 1000;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    background: #4e54c8;
    padding: 12px;
    border-radius: 50%; /* Circular icons */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.social-icons a:hover {
    background: #71cce7; /* Highlight color on hover */
    color: #19c3e6;
    transform: scale(1.2); /* Slight zoom effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {  
    position: fixed;  
    bottom: 0;  
    width: 100%;  
    background: transparent; /* Changed the background to transparent */  
    padding: 20px 10px;  
    text-align: center;  
  }  
  
  .scroll-down {  
    cursor: pointer;  
  }  
  
  .scroll-down a {  
    color: #fff; /* Changed the color to white to make it visible against a transparent background */  
    text-decoration: none;  
    transition: color 0.3s ease-in-out;  
    font-family: 'Open Sans', sans-serif;  
  }  
  
  .scroll-down a:hover {  
    color: #039be5;  
  }  
  
  .scroll-down i {  
    font-size: 24px;  
    margin-right: 10px;  
    color: #039be5;  
  }  
  
  .scroll-down span {  
    font-size: 18px;  
    font-weight: bold;  
    font-family: 'Open Sans', sans-serif;  
  }

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    width: 90%;
    max-width: 400px;
    animation: slideIn 0.5s ease-in-out;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #ff0000;
}

/* //profile image */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--accent-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform var(--transition-speed);
}

.profile-image:hover {
    transform: scale(1.05);
}

.profile-image:hover {
    transform: scale(1.05) rotate(3deg);
}
.profile-image:focus {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }
}
@media (max-width: 768px) {
    .profile-image {
        width: 150px;
        height: 150px;
    }
}
/* Animations */
@keyframes move {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-20px) rotate(180deg);
    }
    100% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }

    nav .logo {
        font-size: 1.2rem;
    }

    nav .links {
        justify-content: center ;
        gap: 15px;
    }

    nav .social-icons {
        justify-content: right;
    }

    .container h1 {
        font-size: 2.5rem;
    }

    .container .description {
        font-size: 1rem;
    }

    .resume-btns .btn {
        padding: 8px 16px;
    }

    .circle {
        animation-duration: 8s;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 15vh;
    }

    nav .links a, nav .social-icons a {
        font-size: 0.9rem;
    }

    .container h1 {
        font-size: 2rem;
    }

    .container .description {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    nav {
        padding: 0.5rem;
    }

    nav .links {
        flex-direction: column;
        gap: 10px;
    }

    nav .social-icons {
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .container h1 {
        font-size: 1.5rem;
    }

    .container .description {
        font-size: 0.8rem;
    }

    .resume-btns .btn {
        padding: 6px 12px;
        font-size: 0.8rem;
    }

    .circle {
        width: 50px;
        height: 50px;
        animation-duration: 6s;
    }
}
/* dark mode */

/* Light Theme (default) */
body {
    background-color: #ffffff;
    color: #000000;
}

.nav ul li a {
    color: #000000;
}

/* Dark Theme */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .nav ul li a {
    color: #ffffff;
}

.theme-toggle button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5em;
    cursor: pointer;
}

.theme-toggle button:hover {
    color: #f0b400;
}
